<style>
  .user-bar {
    position:fixed;
    width: 100%;
    height: 7%;
    #background-color: red;
  }
  .container {
   vertical-align: top;
   height: 100%;
   #margin-top: 5%;
   width: 90%;
  }
  
  .action {
   text-decoration: none;
   cursor: pointer;
  }
  
  .action-done {
    color: red;
  }
  
  .profile-info {
    margin-top: 5px;
  }
  
  .user-bar {
    text-align: left;
    padding: 5px;
  }
  
  .links {
    text-align: right;
    #display: inline;
    margin-top: -50px;
    margin-right: 5%;
  }
  
  .profile-pic {
    display: inline;
  }
</style>
<div class="user-bar">
  <div class="profile-info">
    <%
       profile_img_path = "http://graph.facebook.com/" + @user["info"]["id"]  + "/picture?type=square"
    %>
    <div class="profile-pic">
      <img src="<%= profile_img_path %>" alt="no image"/>
    </div>  
         Hi <%= @user["info"]["name"].split(' ')[0] %> 
    
  </div>
  <div class="links">
    My Collection |<br> <a href="/users/logout">Logout |</a>
  </div>
</div>
 <input type="hidden" id="uid" value="<%= @user["info"]["id"] %>">
<div class="container">
  <% @quotes.each do |quote| %>
    <div class="quote">
      <div class="quote-img-start">
        <img height="50" width="150" src="http://www.decodeunicode.org/en/data/glyph/196x196/201C.gif" />
      </div>
      <div class="quote-content">
        <b> <%= quote["content"] %> </b>
        <div class="author">
          --  <%= quote["author"] %>
        </div>
      </div>
      <div class="quote-img-end">
        <img height="100" width="150" src="http://www.decodeunicode.org/en/u+201d/data/glyph/196x196/201D.gif" />
      </div>
      <div class="quote-options" id="<%= quote["id"] %>">
        <span class="action <%= 'action-done' if quote["agree"]["users"].include? @user["info"]["id"]%>" id="agree">Yes true in my case [ <%= quote["agree"]["users"].length %> ]</span>
        <span class="action" id="disagree">What the F#ck [ <%= quote["disagree"]["users"].length %> ]</span>
        <span class="action" id="whatever">Not form my planet [ <%= quote["whatever"]["users"].length %> ]</span>
        <span class="action" id="collect">Dont wanna loose you [ <%= quote["collect"]["users"].length %> ]</span>
      </div>  
    </div>
  <% end %>
</div> <!-- container end -->
<br><br><br>


<script>
  $(".action").click(function(){
    console.log("action clicked");
    console.log(this.id);
    console.log($(this).closest('div').attr('id'));
    uid = $("#uid").val();
    qid = $(this).closest('div').attr('id');
    action = this.id;
    
    $.ajax({
             type: "PUT",
             url: "/quotes/" + qid,
             data: {
                    uid: uid,
                    q_action: action
                   }
    }).done(function(mesg){

    }).fail(function(){
    });
    
    
  
  });
  </script>
 
   <!-- $.ajax({
             type: "GET",
             url: "/reminderList",
             data: {
                    day: "<%=  DateTime.now.strftime("%A")  %>",
                    email: "<%= @email_from %>"
                   }
    }).done(function(mesg){

      $("#reminder-register-form").fadeOut("fast");
      $("#reminder-register-success").fadeIn("slow");

    }).fail(function(){

       $("#reminder-register-form").fadeOut("fast");

       if (localStorage.fail_attempt === "1") {

        localStorage.fail_attempt = "0";
        $("#reminder-register-fail").fadeOut("fast");;
        $("#reminder-register-fail-manytimes").fadeIn("slow");

      } else {

        $("#reminder-register-fail").fadeIn("slow");
        $("#reminder-register-fail-manytimes").fadeOut("fast");

      }
    });
  });
  
  --!>

